body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

#circle1 {
  fill: #3ba8af;
}

#circle2 {
  fill: #d33f8b;
}

#circle3 {
  fill: #fddf1f;
}

#circle4 {
  fill: #3d98d1;
}

#central {
  fill: white;
  opacity: 1.0;
}

.diagram-circle {
  opacity: 0.95;
}