body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

#circle0 {
  fill: #3d98d1;
}

#circle1 {
  fill: #3ba8af;
}

#circle2 {
  fill: #d33f8b;
}

#circle3 {
  fill: #fddf1f;
}

#circle4 {
  fill: #4C6085
}

#central {
  fill: white;
  opacity: 1.0;
}

.diagram-circle {
  opacity: 0.95;
}

.result-title {
  font-size: 0.4em;
  font-family: "Roboto";
}

.result-score {
  font-size: 1.3em;
  font-family: "Roboto";
}

#totalScore {
  font-weight: bold;
}

.result-diff {
  font-size: 0.5em;
  font-family: "Roboto";
}

.positive {
  fill: green;
}

.negative {
  fill: red;
}

.zero {
  fill: black;
}

.input-field.col .unit {
  display:inline-block;
  vertical-align: baseline;
  left: 85%;
  text-align: right;
  color: red;
  transition: none;
  transform: none;
}

.input-field.col .unit.active {
  transition: none;
  transform: none;
}
